@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

/*
  red: #CB3837
  border red: #B83130
*/

body {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

ul {
  list-style-type: none;
}

button {
  border-radius: 4px;
  background: #cb3837;
  cursor: pointer;
  color: #fff;
  margin: 0 0 0.1rem;
  padding: 0.4rem 1rem;
  border: 0;
  width: 100%;
  font-size: 0.9rem
}

button:hover {
  background: rgba(0,0,0,0.8);
}

a {
  text-decoration: none;
  color: #cb3837;
}

a:hover {
  text-decoration: underline;
}

.package-title {
  margin: 0 0 0.2rem 0;
}

.package-name {
  padding-right: 0.4rem;
}

.package-version {
  color: rgba(0,0,0,0.6);
  font-size: 1.2rem;
}

.package-description {
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.dep-name {
  margin-right: 0.7rem;
}

.dep-description {}

.get-package-json {
  margin-bottom: 1rem;
}

.field {
  margin-bottom: 0.6rem;
}

.field .sub-field {
  margin: 0;
}

.field .sub-field .field-title {

}

.field .field-title {
  font-weight: 600;
}

.field .field-value {

}

.error-message {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  color: red;
  background-color: pink;
  border-radius: 0.5rem;
  border: 1px solid red;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.error-message:hover {
  opacity: 0.8;
}
